<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" shutdownHook="disable">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFile"
			fileName="logs/legacy-service.log"
			filePattern="logs/legacy-service-%d{MM-dd-yyyy}.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d %p %c [%t] %m%n</Pattern>
			</PatternLayout>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>

		<!--Available level: all, trace, debug, info, warn, error, fatal, off -->

		<!--Main -->
		<logger
			name="de.rwth_aachen.afu.dapnet.legacy.transmitter_service"
			level="info" />
	</Loggers>
</Configuration>